<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below(以下のリンクからアカウントのメールを確認できます):</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>