.main-container
  .row
    .col-sm-1
    .col-sm-10
      .row
        .col-sm-12.text-center
          %br
          %br
          %br
          %br
          %br
          %h1 AnimaIndex
          %br
          %br
          %h2 動物を探しにいこう！
          %br
          %br
          .row.text-center
            .col-sm-3
            .col-sm-2
              %a.btn.btn-primary{:href => account_session_path} ログイン
            .col-sm-2
            .col-sm-2
              %a.btn.btn-primary{:href => new_account_registration_path} アカウント作成
          %br
          %br
            %a.btn.btn-warning{:href => home_explanation_path} アニマインデックスとは？
          %br
          %br
          