.row
  .col-sm-1
  .col-sm-10

    %h3.content-header TOPページ

    %br


    -# .card.border-dark.mb-3
    -#   .card-header 
    -#     お知らせ
    -#     %span.q_tooltip{"data-toggle" => "tooltip", "data-html" => "true", :title => "何かを入れる予定" }
    -#       %i.fa{"aria-hidden" => "true", :class => "fa-question-circle"}
    -#   .card-body.text-dark
    -#     -# - @created_animals.each do |created_animal|
    -#     -#   %p.card-text
    -#     -#     = "#{created_animal.created_at.to_s}　　▶　動物図鑑に「#{created_animal.name}」が、新規追加されました。"


    .row
      .col-sm-6.col-md-6
        .card.bg-light.mb-3.img-thumbnail.card.border-primary.mb-3
          -# %img.card-img-top{:alt => "画像", :src => "/assets/top_animalindex.png"}
          .card-body.px-2.py-3
            %h5.card-title アニマインデックス
            %br
            %p.card-text 動物図鑑を自作できるアプリ。
            %br
            %p.mb-0
              %a.btn.btn-outline-primary{:href => animaindex_top_path} アニマインデックスへGO
            %br

      .col-sm-6.col-md-6
        .card.bg-light.mb-3.img-thumbnail.card.border-success.mb-3
          -# %img.card-img-top{:alt => "画像", :src => "/assets/top_my_animal_book.png"}
          .card-body.px-2.py-3
            %h5.card-title ゲーム部アプリ
            %br
            %p.card-text ゲーム部で使用するアプリ。
            %br
            %p.mb-0
              %a.btn.btn-outline-success{:href => gameclub_index_path} ゲーム部アプリへGO
            %br

    %br
    %br
    %br

      -# .col-sm-6.col-md-3
      -#   .card.bg-light.mb-3.img-thumbnail.card.border-warning.mb-3
      -#     %img.card-img-top{:alt => "画像", :src => "/assets/unknown.png"}
      -#     .card-body.px-2.py-3
      -#       %h5.card-title 空き枠
      -#       %p.card-text 空き枠
      -#       %p.mb-0
      -#         %a.btn.btn-outline-warning{:href => root_path} 空き枠

      -# .col-sm-6.col-md-3
      -#   .card.bg-light.mb-3.img-thumbnail.card.border-danger.mb-3
      -#     %img.card-img-top{:alt => "画像", :src => "/assets/unknown.png"}
      -#     .card-body.px-2.py-3
      -#       %h5.card-title 空き枠
      -#       %p.card-text 空き枠
      -#       %p.mb-0
      -#         %a.btn.btn-outline-danger{:href => root_path} 空き枠
