.row
  .col-sm-1
  .col-sm-10
    .row
      .col-sm-12
        %br
        %br
        %h4 Animalndexのプライバシーポリシー
    %br
    .row
      .col-sm-12
        %div{:style => "padding-left: 10px; text-align: justify;"}
          %ol{:style => "list-style-type: disc; "}
            %li{:style => "padding-left: 15px; text-align: justify;"}
              ユーザーは、Animalndexがユーザーから収集するデータの種類とその使用方法を常に理解し、その両方を有意義に管理することができなければならない、Animalndexはこのように考えています。そのために、ユーザーには、Animalndexと共有する情報について、最善の決定を行う権利を与えたいと考えています。
            %br
            %li{:style => "padding-left: 15px; text-align: justify;"}
              画像をアップロードする際には"見つけた場所"を記載することが出来るが、それのせいで生じた問題・事件等につきましては自己責任となりますので、使用方法・記載内容に十分注意するようお願いします。
            %br

    %br
    %br
    .row.text-center
      .col-sm-4
      .col-sm-4
        %a.btn.btn-secondary{:href => root_path} TOPに戻る
        