.row
  .col-sm-1
  .col-sm-10

    .row
      .col-sm-12
        %br
        %br
        %h4 Freedum Labの利用規約
    %br
    .row
      .col-sm-12
        %div{:style => "padding-left: 10px; text-align: justify;"}
          %ol{:style => "list-style-type: disc; "}
            %li{:style => "padding-left: 15px; text-align: justify;"}
              当ホームページで公開している情報（以下「コンテンツ」といいます。）は現状開発途中であります故、予期せぬ不具合が発生する可能性がありますことをご了承ください。
            %br







    .row
      .col-sm-12
        %br
        %br
        %h5 Animalndexの利用規約
    %br
    .row
      .col-sm-12
        %div{:style => "padding-left: 10px; text-align: justify;"}
          %ol{:style => "list-style-type: disc; "}
            %li{:style => "padding-left: 15px; text-align: justify;"}
              画像をアップロードする際、必ずユーザー自身が「撮影した」「描いたもの」「作成したもの」のみをご利用ください。アップロード内容が著作権侵害に当たると管理人が判断した場合、アナウンス無しで該当画像・ユーザーアカウントを削除する場合があります。
              <br>
              また、著作権フリー画像サイト等の画像を使用する場合は、画像アップロードする際にそのサイト名を必ず記載するようにしてください。
            %br
            %li{:style => "padding-left: 15px; text-align: justify;"}
              画像をアップロードする際に"見つけた場所"を記載することが出来るページがあるが、それのせいで生じた問題・事件等につきましては自己責任となりますので、使用方法・記載内容に十分注意するようお願いします。
            %br

    %br
    %br
    .row.text-center
      .col-sm-4
      .col-sm-4
        %a.btn.btn-secondary{:href => root_path} TOPに戻る
        