.col-sm-2
  %h3.content-header アニマルインデックス
.col-sm-2
  　
.col-sm-2
  　
.col-sm-2
  = Animal.human_attribute_name('binomial_name')
.col-sm-2
  　
.col-sm-2
  %button.btn.btn-sm.btn-danger{:type => "button"} あげぽよ

